SESSION_SECRET_KEY=Qw8L7mYgT3rP0xK9nV2cA5uH1jD6sF4zB8wR2tN7
CORS_ORIGINS=http://localhost:5173,http://localhost:5174

GOOGLE_CLIENT_ID=gg
GOOGLE_CLIENT_SECRET=aa
GOOGLE_SCOPE=openid email profile

GITHUB_CLIENT_ID=Ov23liQf2xLci0jwiHAc
GITHUB_CLIENT_SECRET=e72c480191e6c0a2b29c520a1ed98f8f2adbe080
GITHUB_SCOPE=read:user user:email

ISSUER_NAME=POAIBOT

JWT_SECRET_KEY=1d2f4YJ2M3xI5QfQJ7f7v4HCFYHhP0A4WvDk0n2f7uZ5jS8QnCk7eL3pM9xTqAbC #пример как получить python -c "import secrets; print(secrets.token_urlsafe(48))"
JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30

ACCESS_COOKIE_NAME=access_token
REFRESH_COOKIE_NAME=refresh_token

COOKIE_SECURE=False
COOKIE_SAMESITE=lax

DB_USER=postgres
DB_PASSWORD=Frantoza1234
DB_HOST=127.0.0.1
DB_PORT=5434
DB_NAME=webapp

REDIS_URL=redis://127.0.0.1:6379/0
DATABASE_URL=f"postgresql+asyncpg://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
ALEMBIC_DATABASE_URL=f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

