fastapi==0.135.3
uvicorn[standard]==0.42.0

sqlalchemy==2.0.49
alembic==1.18.4
asyncpg==0.31.0
psycopg2-binary==2.9.11

python-dotenv==1.2.2
pydantic==2.12.5
pydantic-settings==2.13.1
email-validator==2.3.0

Authlib==1.6.9
PyJWT==2.12.1
pyotp==2.9.0
pwdlib==0.3.0
qrcode==8.2
itsdangerous==2.2.0

redis==7.4.0
httpx==0.28.1
python-multipart==0.0.22

llama_cpp_python==0.3.20